
<div class="container text-center">
    <h1>Product card</h1>
     
    </div>
    <div class="shell">
      <div class="container">
        <div class="row">
          <div class="col-md-3" *ngFor="let product of proarr">
            <div class="wsk-cp-product">
              <div class="wsk-cp-img">
                <img src="{{product.image}}" alt="Product" class="img-responsive" />
              </div>
              <div class="wsk-cp-text">
                <div class="category">
                  <span>{{product.id}}</span>
                </div>
                <div class="title-product">
                  <h3>{{product.title}}</h3>
                </div>
                <div class="description-prod">
                  <p>{{product.description}}</p>
                </div>
                <div class="card-footer">
                  <div class="wcf-left"><span class="price">{{product.price}} L.E</span></div>
                
                  <input style="margin-left:100px !important ;" type="number" max="15" min="1" class="w-25 form-control" placeholder="1">
                  
                  <a style="background-color: #FF9800" class="btn btn-primary mt-3 ml-4" (click)="remove(product)" >remove from card</a>
                </div>
              </div>
            </div>
          </div>
          </div>
          </div>
<div class="container">
          <div class="row justify-content-end">
            <div class="col-md-3 "  >
              <a style="background-color: #FF9800;" class="btn btn-primary mt-2 " routerLink="/form">Total Price: {{ Prices()}} L.E</a>
            </div>
            </div>
</div>
<div class="container">
          <div class="row justify-content-end">
          <div class="col-md-3 "  >
            <a style="background-color: #FF9800;" class="btn btn-primary mt-2 " routerLink="/form">Sumbit Order</a>
          </div>
          </div>
</div>

        