<div class="container">
  <div class="row>">
      <div class=" col-4 active-pink-3 active-pink-4 mb-4">
  <input class="form-control" [(ngModel)]='term'  type="search"  placeholder="Search" aria-label="Search">
  </div>
</div>
</div>

  <div class="container text-center">
    <h1>Our Store</h1>
      <span><i><a  class="wsk-btn">shopping</a></i></span>
    </div>
    
    
    <div class="shell">
      <div class="container">
        <div class="row">
          <div class="col-md-3" *ngFor="let product of data|productdfilter:term ; let i = index">
            <div class="wsk-cp-product">
              <div class="wsk-cp-img">
          
                <img  [routerLink]='["/details" , i]' src="{{product.image}}" alt="Product" class="img-responsive" />
              </div>
              <div class="wsk-cp-text">
                <div class="category">
                  <span>{{product.id}}</span>
                </div>
                <div class="title-product">
                  <h3>{{product.title}}</h3>
                </div>
                <div class="description-prod">
                  <p>{{product.description}}</p>
                </div>
                
                <div class="card-footer">
                  <div class="wcf-left"><span class="price">{{product.price}} L.E</span></div>
              
                  <div class="wcf-right"><a  class="buy-btn"><i class="fas fa-cart-plus" (click)="addCard(product)"></i></a></div>
                </div>
              </div>
            </div>
          </div>
          </div>
          </div>
        
        